h1 {
  font-size: 34px;
  font-weight: 500;
}
.banner img {
  object-fit: cover;
  width: 100vw;
  height: 528px;
  min-width: 960px;
  min-height: 100%;
}
.homeContainer {
  position: relative;
  padding-top: 50px;
}
.banner {
  position: relative;
}

.containerOffer {
  margin: 30px 50px;
}
.widgetContainer {
  display: flex;
  position: absolute;

  bottom: 200px;
  left: 50px;
}
#tears {
  position: relative;
  bottom: 150px;
  height: 8%;
  z-index: 1;
  min-height: 146px;
}

.widgetBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 32px;
  width: 380px;
  height: 300px;
  position: relative;
  /* bottom: 425px;
  left: 50px; */
  background-color: whitesmoke;
  border-radius: 10px;
  z-index: 2;
}

.widgetBlock button {
  height: 45px;
  width: 32àpx;
  font-size: 16px;
  color: whitesmoke;
  background-color: #017580;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
}
.widgetBlock > div > span {
  color: #017580;
  cursor: pointer;
  text-decoration: underline;
}
