@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 0, 5%;
  margin-bottom: 0, 5%;
}
.alignHeader {
  width: 100vw;
  margin-right: 5%;
  margin-left: 5%;
}

nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 5%;
}
nav img {
  height: auto;
  max-width: 100%;
  cursor: pointer;
}
.searchBar {
  width: 400px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  flex: 1;
}
.searchBar input {
  width: 100%;
  height: 36px;
  font-size: 16px;
  color: RGBA(var(--greyscale-level-2, 1));
  border-style: none;
  background-color: #f2f2f2;
  outline: none;
}
.searchBar img {
  width: 16px;
  height: 16px;
}
.searchText {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
}
.buttonsContainer {
  display: flex;
  gap: 5%;
  font-size: 12px;
  width: 30%;
  flex: 1;
}

.signUpLogIn {
  display: flex;
  flex: 1;
}
.signUpLogIn button {
  color: #017580;
  background-color: whitesmoke;
  height: 35px;
  border: solid 2px #017580;
  /* padding: 0 8px; */
  line-height: 16px;
  font-weight: bold;
  border-radius: 5px;
}
#signUp {
  flex: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
}
#logIn {
  flex: 1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sellArticles {
  background-color: #017580;
  color: whitesmoke;
  height: 35px;
  width: 45%;
  padding: 0 8px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  flex: 0.5;
}
